@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

body{
  background-color: #eff7fa;
  font-family: 'Poppins', sans-serif;
}

main img{
  height: 460px;
  width: 480px;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.register-container{
  width: 600px;
}

form {
  
  margin-top: 15px;
}

label, input {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
#register_button{
  margin: 25px auto;
}
form{
  display: flex;
  flex-direction: column;
}



nav{
  background-color: #add8e6;
  padding: 12px 24px;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-end;
  font-size: 24px;
}

button{
  background-color: #344145;
  padding: 8px 24px;
  font-size: 18px;
  color: white;
  border: 2px solid #344145;
  border-radius: 12px;
}

button:hover{
  color: #344145;
  border: 2px solid #344145;
  background-color: #eff7fa;
}


.registration-container label{
  font-size: 22px;
  font-weight: 400;
}

.doc-image{
  height: 400px;
  width: 400px;
}

.wrapper{
  max-width: 700px;
  padding: 12px 100px;
  background-color: #344145;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

margin-top: 60px;
}

.login-container h1{
  color: whitesmoke;
}


#login-form{
  color: whitesmoke;
  display: flex;
}

#login-btn{
  background-color: whitesmoke;
  color: #344145;
  width: 120px;
  border: 2px solid whitesmoke;
  align-self: center;
}

#login-btn:hover{
  background-color: #344145;
  border: 2px solid whitesmoke;
  color: whitesmoke;

}
/* Add this CSS in your stylesheet or style tag */
.error-message {
  color: red;
}

.input-error {
  border: 1px solid red;
}
.server-error-message {
  color: red;
  margin-top: 10px;
}

nav{
  a{
    text-decoration: none;
  }
}


nav{
  color: red;
}
.small-list-item {
  font-size: 12px; /* Adjust the size according to your preference */
}

main{
  margin-bottom: 20px;
  padding: 15px;
}
#login-btn{
  margin:20px;
}
/* doctor details page css */
.doctor-profile {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 70%;
  padding: 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.doctor-info {
  /* min-height: 100vh; */
  max-width: 100%;
  margin: auto;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.doctor-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.doctor-name {
  font-size: 2.5vw;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-title {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
}

.contact-label {
  font-size: 14px;
  font-weight: 600;
  color: #777;
  margin-right: 5px;
}

.contact-value {
  font-size: 14px;
  color: #333;
}

.avtar {
  display: grid;
  place-items: center;
}

.avtar img {
  width: min(20rem, 90%);
  border-radius: 20%;
}

.appointment_button {
  background-color: #344145;
  padding: 8px 24px;
  font-size: 1rem;
  color: white;
  border: 2px solid #344145;
  border-radius: 24px;
  width: min(20rem);
  margin: 20px auto;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s; /* Add transition for smoother effect */
}

.appointment_button:hover {
  background-color: #4a5a6a; /* Change background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  color: #f5f5f5; /* Change text color for contrast */
}

.doctor-bio {
  margin-bottom: 20px;
  padding: 0rem 4rem;
}

.doctor-bio-title {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 10px;
}

.doctor-bio-text {
  font-size: 16px;
  line-height: 24px;
  color: #777;
}

.doctor-services {
  margin: 0px 0px 20px 0px;
  padding: 0rem 4rem;
  box-sizing: border-box;
}

.doctor-services-title {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 10px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.service {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.doctor-office-hours {
  margin-bottom: 20px;
  padding: 0rem 4rem;
}

.doctor-hours-title {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 10px;
}

.office-hours-text {
  font-size: 16px;
  color: #777;
}

.doctor-parking {
  margin-bottom: 20px;
  padding: 0rem 4rem;
}

.doctor-parking-title {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 10px;
}

.parking-info {
  font-size: 16px;
  color: #777;
}

@media (max-width: 750px) {
 .doctor-profile {
    max-width: 90%;
    margin-top: 1rem;
  }
 .doctor-info {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem .5rem;
    gap: 2rem;
  }
  .doctor-bio, .doctor-services, .doctor-office-hours, .doctor-parking{
    padding: 0rem .5rem;
  }
  .doctor-name{
    font-size: 6vw;
  }
  .contact-title, .doctor-bio-title,.doctor-services-title,.doctor-hours-title,.doctor-parking-title{
    font-size: 3.5vw;
  }
}

/* Admin Dashboard */
.square-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 24px;
  background-color: #f8f9fa; 
  border: 1px solid #ced4da;
  border-radius: 10px;
  transition: all 0.3s ease;
 
}

.square-block:hover {
  transform: translateY(-5px);
}

.square-block h4 {
  margin-bottom: 15px;
  text-align: center;
}

.dashboard-container{
  height: 100%;
}

.alert-container{
  text-align: start;
}

.update-container{
  background-color: lightblue;
  margin-top: 120px !important;
  padding: 40px;
  margin-bottom: 100px !important;

}

/* Custom CSS styles */
.custom-button {
  /* Your custom styles here */
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff; /* Bootstrap primary color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3; /* Darker shade of primary color on hover */
}
